html, body, header, section, article, div, nav, img, li, a, h1, h3, h4, p {
	padding: 0;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
}

.content { 
	max-width: 50em;
	padding-left: .4em;
	padding-right: .4em;
	padding-bottom: .6em;
}

.title{
	margin-top: 1em;
}

.table-title{
	padding: 1em 0 .25em 0;
}

.wrap {
	width: 100%;
}

a {
	text-decoration: none;
	color: #66CCFF;
	-webkit-transition: 2s;
	transition: 2s;
}

ul{
	list-style-type: none;
}

li{
	padding-right: .75em;
}

h1{
	font-weight: 400;
	font-size: 3em;
	padding-top: .5em;
	line-height: .75em;
	padding-bottom: .15em;
}

h3{
	font-weight: 300;
	font-size: 1.5em;
	padding: .25em 0;
}

/*h3:before{
	display: block;
	content: " ";
	margin-top: 4.25em;
	visibility: hidden;
}*/

h4{
	font-weight: 300;
	font-style: italic;
	padding: .1em 0;
}

p {
	padding: .5em 0;
}

ol {
	list-style-type: decimal;
}

ol>li{
	padding-bottom: 0.3em;
}

table {
	border-collapse: collapse;
}

td {
	border: .5px solid #CCCCCC;
	padding: 0.5rem;

}

/*#project-list{
	padding-left: 2.2em;
}
*/

#nav-list{
	padding-left: 0;
}

#nav-list>li{
	float: left;
}

#nav-menu{
	display: none;
}

#project-list>li{
	padding-bottom: 0.4em;
	font-size: 1.1em;
	list-style-type: decimal;
}

#line{
	height: 0.1em;
	background-color: #FFFFFF;
}

#title-color{
	margin-top: 4em;
	padding-bottom: .25em;
	padding-top: 0.5em;
}

#nav-color {
	background-color: #E6E6E6;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	position: fixed;
	top: 0;
	/*left: 50%;*/
	width: 100%;
}




#summary-color{
	background-color: #CCCCCC;
	padding: 0.5em 0;
}

#descr-color{
	background-color: #B3B3B3;
	padding: 0.5em 0;
}

#methods-color{
	background-color: #FFCC66;
	padding: 0.5em 0;
}

#extra-color {
	background-color: #FF6666;
	padding: 0.5em 0;
}

#projects-color {
	background-color: #CCCCCC;
	padding: 0.5em 0;
}

#learning-color{
	background-color: #B3B3B3;
	padding: 0.5em 0;
}

#procedures-color{
	background-color: #999999;
	padding: 0.5em 0;
}

#tech {
	padding-top: .75em;
	color: #fff;
}

#lab-rules {
	background-color: #FF6666;
	padding: 0.5em 0;
}

#fonts{
	background-color: #66FFCC;
	padding: 0.5em 0;
}

#blueline{
	background-color: #66CCFF;
	padding: 0.5em 0;
}

#blueline>section>p>a{
	color: #fff;
}

#white {
	color: #fff;
}

#grades {
	background-color: #999999;
	padding: 0.5em 0;
}

#anatomy {
	min-width: 100%;
	border-spacing: 1em;
	padding: 0.5em 0;
}

#rubric {
	padding-top: 0.2em;
}

#important{
	color: #FF6666;
}

#policies{
	background-color: #66CCFF;
	padding: 0.5em 0;
}

#projects-cal{
	background-color: #FF6666;
}

/*RESPONSIVE ADJUSTMENTS*/

@media (max-width: 800px) {
	#nav-list>li{
		float: none;
	}

	#nav-color{
		left: -100vw;
	}

	#nav-color:target{
		left: 0;
	}
	
	.main-nav{
		transition: left 0.3s ease;
	}

	#title-color{
		margin-top: 0;
	}

	#nav-menu{
		display: inline;
	}


}